/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --title-text-color: #FF0070;
  --decoration-color: #FF0070;
  --theme_switcher_color: #FF0070;
  --heading-text-color: #DB00FF;
  --title-decorated-text-color: #000028;
  --theme_switcher_color_hover: #FF007040;
}

.theme-dark .decorate_element {
  display: block;
}

@media (prefers-color-scheme: dark) {

  :root {
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    --accent-color: #FF0070;
    --main-text-color: #F1B2CE;
    --title-text-color: #FF0070;
    --decoration-color: #FF0070;
    --theme_switcher_color: #FF0070;
    --heading-text-color: #DB00FF;
    --title-decorated-text-color: #000028;
    --theme_switcher_color_hover: #FF007040;
  }

  .decorate_element {
    display: block;
  }

}