/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --title-text-color: #FF0070;
  --decoration-color: #FF0070;
  --theme_switcher_color: #FF0070;
  --heading-text-color: #DB00FF;
  --title-decorated-text-color: #000028;
  --theme_switcher_color_hover: #FF007040;
}



.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    --accent-color: #FF0070;
    --main-text-color: #F1B2CE;
    --title-text-color: #FF0070;
    --decoration-color: #FF0070;
    --theme_switcher_color: #FF0070;
    --heading-text-color: #DB00FF;
    --title-decorated-text-color: #000028;
    --theme_switcher_color_hover: #FF007040;
  }

  .decorate_element::before {
    display: block;
    position: absolute;
    content: "REC";
    top: var(--padding);
    right: calc(var(--padding) + 27.9px);
    color: var(--accent-color);
  }
  
  .decorate_element::after {
    display: block;
    position: absolute;
    content: "";
    block-size: 9px;
    inline-size: 9px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 0 5px 2px var(--accent-color);
    top: calc(var(--padding) + 8px);
    right: calc(var(--padding) + 10px);
  }
}