/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fdf3f7;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --heading-text-color: #FFC2E6;
  --title-text-color: #353430;
  --title-decorated-text-color: #353430;
  --decoration-color: #353430;
  --theme_switcher_color: #353430;
  --theme_switcher_color_hover: #32312D40;
}

.theme-light .decorate_element {
  display: none;
}


