/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  background-color: var(--background-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.make_grid {
  display: grid;
}

/* Отступы */

.title_to_article_gap {
  gap: var(--title_gap);
}

.section_to_section_gap {
  gap: var(--section_gap);
}

.title_to_text_gap {
  gap: var(--text_gap);
}

.gallery_gap {
  gap: var(--gallery_gap);
}

.padding {
  padding: 0 var(--padding) 0 var(--padding);
}

.header_padding {
  padding: var(--padding);
}

/* Стили для ссылок */

.link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--main-text-color);
}

/* Хедер и всё что в нем */

.header {
  block-size: 100svh;
  min-block-size: 668px;
  display: grid; 
  grid-template-columns: 100%; 
  grid-template-rows: 1fr min-content 1fr; 
  grid-template-areas: 
    "theme-menu"
    "heading"
    "header_title"; 
  align-content: center; 
  justify-items: stretch; 
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  top: var(--padding);
  right: var(--padding);
  width: 25.04px;
  height: 25px;
  justify-self: end;
  border: 1px solid var(--decoration-color);
  border-bottom-style: none;
  border-left-style: none;
}

.decorated-zone::after {
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
  content: "";
  width: 25.04px;
  height: 25px;
  justify-self: start;
  border: 1px solid var(--decoration-color);
  border-top-style: none;
  border-right-style: none;
}


.header__theme-menu {
  grid-area: theme-menu;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  line-height: 1;
  display: inline-block;
  min-inline-size: 70px;
  background-color: transparent;
  text-transform: lowercase;
  padding-bottom: 5px;
  color: var(--theme_switcher_color);
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme_switcher_color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--theme_switcher_color_hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--theme_switcher_color);
}

.header__heading {
  grid-area: heading;
  justify-self: start;
  align-self: center;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.heading {
  display: block;
  font-family: var(--main-font);
  font-size: var(--h1-font-size);
  color: var(--heading-text-color);
  font-weight: bold;
  line-height: 82.5%;
}

.header__title {
  display: block;
  grid-area: header_title;
  font-weight: bold;
}

/* Заголовки, секции*/

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decorated-text-color);
}

.content-section {
  display: grid;
}

.content-section h2, h3 {
  font-weight: bold;
  color: var(--title-text-color);
}

.content_container {
  display: grid;
}

/* Галерея (если ее можно так назвать, скорее просто блок картинок*/


.gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.gallery_image{
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

/* Футер */

.footer {
  block-size: 100svh;
  min-block-size: 668px;
  display: grid; 
  align-items: center;
  justify-content: center;
}

.footer__heading {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Медиазапросы */

@media (min-width: 768px) {

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      ". theme-menu"
      "heading heading"
      ". header_title"; 
}

  .heading {
    margin-left: calc(var(--padding) * -1);
}

  .content-section {
    grid-template-columns: repeat(3, 1fr);
}

  .content_container {
    grid-column: span 2
  }

  .content_container_one_row {
    grid-column: span 3
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery_image_2_columns {
    grid-column: span 2;
  }

  .gallery_image_2_rows {
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  
  .header {
    grid-template-areas: 
    "theme-menu theme-menu"
    "heading heading"
    ". header_title"; 
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content_container__cards {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    justify-content: center;
  }

}