:root {
    --main-font: 'IBM Plex mono';
    --main-font-size: 1.125rem;
    --h1-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
    :root {
    --h1-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}